.sidemenu-btn{
    background-color: transparent;
    border:none;
}

.navlinkitem{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.userInfo-link > a{
    text-decoration: none;
}
.userInfo-link > span{
    color: white;
    font-size: 10px;
}