<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head th:fragment="head">
        <meta name="viewport" charset="UTF-8" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0">
        <title>MyBoard Service</title>
        <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
        <script src="/js/bootstrap/bootstrap.bundle.js"></script>

        <!--CSRF token, User 로그인시에 meta 데이터에 포함합니다.-->
        <th:block th:if="${userInfo != null}">
            <meta name="_csrf" th:content="${_csrf.token}">
            <meta name="_csrf_header" th:content="${_csrf.headerName}">
        </th:block>

        <!--글로벌 JS-->
        <th:block th:if="${versionInfo.getDeployEnvironment().equals('local')}">
            <script src="/js/globalvari-local.js"></script>
        </th:block>
        <th:block th:if="${versionInfo.getDeployEnvironment().equals('dev')}">
            <script src="/js/globalvari-dev.js"></script>
        </th:block>
        <th:block th:if="${versionInfo.getDeployEnvironment().equals('product')}">
            <script src="/js/globalvari-product.js"></script>
        </th:block>
        <script src="/js/util.js"></script>
    </head>
</html>