<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <div th:fragment="topnav">
        <link rel="stylesheet" href="/css/topnav.css">
        <!--상단 Header-->
        <div class="bg-secondary bg-gradient">
            <div class="mx-auto container-lg bg-transparent">
                <div class="d-flex flex-row justify-content-between align-items-center" style="height: 60px;">
                    <!--item1 : Collapse Button, Logo-->
                    <div class="d-flex flex-row ms-2">
                        <!--Sidebar Collapse Button-->
                        <button class="sidemenu-btn me-2" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSidebar" aria-expanded="false" aria-controls="collapseSidebar">
                            <img src="/img/menu.png" style="width: 50px; height :50px;"/>
                        </button>
                        <a class="navlinkitem" href="/">MyBoard</a>
                    </div>
                    <!--item2 : Link List-->
                    <div class="d-flex flex-row d-none d-lg-block">
                        <!--하위 게시판이 존재하지 않는 경우 : getChildBoardCount() 가 0 이다-->
                        <!--하위 게시판이 존재하는 경우 : getChildBoardCount() 가 0이 아니다-->
                        <th:block th:each="rootBoard : ${rootBoards}">
                            <th:block th:if="${rootBoard.getChildBoardCount().equals(0)}">
                                <a class="navlinkitem mx-3" th:href="'/board/' + ${rootBoard.getId()}">
                                    <span th:text="${rootBoard.boardName}"></span>
                                </a>
                            </th:block>
                            <th:block th:unless="${rootBoard.getChildBoardCount().equals(0)}">
                                <div class="d-inline-flex dropdown">
                                    <a class="dropdown-toggle navlinkitem mx-3" href="#" id="dropdownMenuLink-0"
                                       data-bs-toggle="dropdown" aria-expanded="false">
                                        <span th:text="${rootBoard.boardName}"></span>
                                    </a>
                                    <ul class="dropdown-menu" aria-lebelledby="dropdownMenuLink-0" style="min-width: inherit;">
                                        <th:block th:each="childBoard : ${rootBoard.getChildBoardSet()}">
                                            <li><a class="dropdown-item" th:href="'/board/' + ${childBoard.getId()}">
                                                <span th:text="${childBoard.boardName}"></span></a>
                                            </li>
                                        </th:block>
                                    </ul>
                                </div>
                            </th:block>
                        </th:block>
                    </div>
                    <!--item3 : 유저정보 버튼-->
                    <th:block th:if="${userInfo != null}">
                        <div class="userInfo-link">
                            <a class="me-2" th:href="'/mypage'">
                                <img src="/img/user.png" style="width: 30px; height :30px;"/>
                                <span style="color: white;" th:text="${userInfo.getNickname()}"></span>
                            </a>
                        </div>
                    </th:block>
                    <th:block th:if="${userInfo == null}">
                        <a class="me-2" th:href="'/login'">
                            <button>로그인</button>
                        </a>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</html>