<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="post">
        <script src="/js/post.js"></script>
        <div class="mx-auto container-lg top-div">
            <!--게시글 레이아웃 Flex 배치-->
            <div class="d-flex flex-column" style="min-height: 800px;">
                <!--게시판 타이틀 상단 여백-->
                <div style="height: 70px;"></div>
                <!--게시판 타이틀 표기-->
                <h3 class="my-5">
                    <span class="text-title" th:text="${boardInfo.getBoardName()}"></span>
                </h3>
                <div style="height: 30px;"></div>
                <!--게시글 타이틀 표기-->
                <h4>
                    <span th:text="${postInfo.getTitle()}"></span>
                </h4>
                <hr class="hr-title"/>
                <!--게시글 작성자 정보-->
                <div class="d-flex flex-row align-items-center writerinfo-div">
                    <!--작성자 이름-->
                    <img src="/img/user.png" style="width: 20px; height: 20px;"/>
                    <span class="ms-1" th:text="${postInfo.getWriterID()}"></span>
                    <!--작성 일자-->
                    <img class="ms-3" src="/img/calendar.png" style="width: 20px; height: 20px;"/>
                    <span class="ms-1" th:text="${#temporals.format(postInfo.getCreatedDay(), 'yyyy-MM-dd')}"></span>
                </div>
                <!--게시글 링크 정보-->
                <div class="mt-3 mb-5 d-flex flex-row">
                    <img src="/img/link2.png" style="width: 20px; height: 20px;"/>
                    <a class="ms-1 text-postlink" href="./" id="postLink"></a>
                </div>
                <!--게시글 출력 영역-->
                <div class="mb-4" style="min-height: 500px; background-color: white;">
                </div>
                <!--추천/비추천 버튼 영역-->
                <div class="mb-4 d-flex flex-row justify-content-center">
                    <button class="btn-primary">추천</button>
                    <button class="ms-3 btn-primary">비추천</button>
                </div>
                <hr/>
                <!--댓글 영역-->

            </div>
        </div>
    </th:block>
</html>