<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="write_post">
        <div class="mx-auto container-lg top-div">
            <!--게시글 작성 레이아웃 배치-->
            <div class="d-flex flex-column" style="min-height: 800px;">
                <!--게시판 타이틀 상단 여백-->
                <div style="height: 70px;"></div>
                <!--게시판 타이틀 표기-->
                <h3 class="my-5">
                    <span class="text-title" th:text="${boardInfo.getBoardName()}"></span>
                </h3>
                <div style="height: 30px;"></div>
                <!--게시글 작성 Form-->
                <form th:action="@{/submitpost}" method="post" onsubmit="onSubmitPost();">
                    <div class="d-flex flex-column">
                        <input type="hidden" th:name="boardID" th:value="${boardInfo.getID()}">
                        <input type="text" class="form-control" placeholder="제목을 입력해주세요.">
                        <textarea name="content" id="editor"></textarea>
                    </div>
                    <div class="d-flex flex-row-reverse">
                        <!--작성 제어 버튼-->
                        <input type="submit" class="btn btn-info" value="작성">
                    </div>
                </form>
            </div>
        </div>
        <!--에디터 소스 CDN 다운로드-->
        <script src="https://cdn.ckeditor.com/ckeditor5/35.0.1/classic/ckeditor.js"></script>
        <script src="/js/write_post.js"></script>
        <style>
            .ck-editor__editable{
                min-height:600px;
            }
        </style>
    </th:block>
</html>