<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
    <!--Layout Head-->
    <div th:replace="fragments/layout/head.html :: head"></div>
    <!--Layout Nav Header-->
    <div th:replace="fragments/layout/topnav.html :: topnav"></div>
    <!--Layout Content(Page)-->
    <div th:replace="@{'fragments/page/' + ${layoutContent_Page}} :: ${layoutContent_Fragment}"></div>
    <!--Layout Footer-->
    <div th:replace="fragments/layout/footer.html :: footer"></div>
    <!--Sidebar(Collapsed)-->
    <div th:replace="fragments/layout/sidebar.html :: sidebar"></div>
</html>