<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="home">
        <link rel="stylesheet" href="/css/home.css">
        <div class="mx-auto container-lg">
            <!--상단 여백-->
            <div style="height:100px;"></div>
            <!-- 게시판 표기 -->
            <div class="container">
                <!-- 한줄에 게시판을 2개씩 표시하고 게시판 2개 조합을 LeafBundle이라 칭함-->
                <th:block th:each="curBundle : ${leafBoardBundle}">
                    <div class="row">
                        <th:block th:each="leafBoard : ${curBundle}">
                            <div class="col-sm board-col">
                                <!--게시판 명-->
                                <span class="board-title" th:text="${leafBoard.getName()}"></span>
                                <hr/>
                                <!--게시글 목록-->
                                <div class="d-flex flex-column">
                                    <th:block th:with="filteredPosts=${postMap[leafBoard.getId()]}">
                                        <th:block th:each="filteredPost : ${filteredPosts}">
                                            <a class="post-title" th:href="'/post/' + ${filteredPost.getPostData().getId()}">
                                                <span th:text="${filteredPost.getPostData().getTitle()}"></span>
                                                <th:block th:if="${filteredPost.getCommentCount() > 0}">
                                                    <span class="ms-1" th:text="'(' + ${filteredPost.getCommentCount()} + ')'"></span>
                                                </th:block>
                                            </a>
                                        </th:block>
                                    </th:block>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </th:block>
            </div>
        </div>

    </th:block>
</html>