<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="login">
    <div class="mx-auto container-lg top-div">
        <h1>로그인</h1>
        <div th:if="${param.error}">
            아이디 또는 비밀번호가 일치하지 않습니다.
        </div>
        <div th:if="${param.logout}">
            로그아웃됨
        </div>
        <form th:action="@{/login}" method="post">
            <div>
                <input type="text" name="username" placeholder="아이디"/>
            </div>
            <div>
                <input type="password" name="password" placeholder="비밀번호"/>
            </div>
            <div>
                <input type="checkbox" id="remember-me-checkbox" name="remember-me"/>
                <label for="remember-me-checkbox">자동로그인</label>
            </div>
            <input type="submit" value="로그인" />
        </form>

        <div>
            <span>계정이 없으시다면? <a href="/register">회원가입</a></span>
        </div>
    </div>
</th:block>
</html>