<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="login">
        <div class="mx-auto container-lg top-div">
            <h1>로그인</h1>
            <div id="resultArea" style="visibility: hidden;">
                <p id="resultMsg">로그인 성공</p>
            </div>
            <form onsubmit="return false" id="loginForm">
                <div>
                    <input type="text" name="username" placeholder="아이디"/>
                </div>
                <div>
                    <input type="password" name="password" placeholder="비밀번호"/>
                </div>
                <input type="button" value="로그인" onclick="onSubmitLogin()"/>
            </form>

            <div>
                <span>계정이 없으시다면? <a href="/register">회원가입</a></span>
            </div>
        </div>
        <script src="/js/login.js"></script>
    </th:block>
</html>