<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="post">
        <link rel="stylesheet" href="/css/post.css">
        <script src="/js/post.js"></script>
        <div class="mx-auto container-lg top-div">
            <!--게시글 레이아웃 Flex 배치-->
            <div class="d-flex flex-column" style="min-height: 800px;">
                <!--게시판 타이틀 상단 여백-->
                <div style="height: 70px;"></div>
                <!--게시판 타이틀 표기-->
                <h3 class="my-5">
                    <span class="text-title" th:text="${boardInfo.getName()}"></span>
                </h3>
                <div style="height: 30px;"></div>
                <!--게시글 타이틀 표기-->
                <h4>
                    <span th:text="${postInfo.getTitle()}"></span>
                </h4>
                <hr class="hr-title"/>
                <!--게시글 작성자 정보-->
                <div class="d-flex flex-row align-items-center writerinfo-div">
                    <!--작성자 이름-->
                    <img src="/img/user.png" style="width: 20px; height: 20px;"/>
                    <span class="ms-1" th:text="${postInfo.getWriterId()}"></span>
                    <!--작성 일자-->
                    <img class="ms-3" src="/img/calendar.png" style="width: 20px; height: 20px;"/>
                    <span class="ms-1" th:text="${#dates.format(postInfo.getCreatedDay(), 'yyyy-MM-dd')}"></span>
                </div>
                <!--게시글 링크 및 수정,삭제 등 게시글 제어 버튼-->
                <div class="d-flex flex-row">
                    <!--게시글 링크 정보-->
                    <div class="mt-3 mb-5 d-flex flex-row">
                        <img src="/img/link2.png" style="width: 20px; height: 20px;"/>
                        <a class="ms-1 text-postlink" href="./" id="postLink"></a>
                    </div>
                    <!--게시글 수정 form-->
                    <th:block th:if="${userInfo != null && postInfo.getWriterId() == userInfo.getUserId()}">
                        <div class="mt-2 mb-5 ms-auto me-1">
                            <div class="dropdown">
                                <!--메뉴 toggle 버튼-->
                                <button style="background-color:transparent; border: transparent;"
                                        id="modifyMenubutton" data-bs-toggle="dropdown" data-bs-display="static"
                                        aria-expanded="false">
                                    <img src="/img/menu.png" style="width: 35px; height: 35px;">
                                </button>
                                <!--드랍다운 메뉴-->
                                <ul class="dropdown-menu" style="min-width: inherit;" aria-labelledby="modifyMenubutton">
                                    <li>
                                        <a class="dropdown-item"
                                                th:href="${'/writepostform/' + postInfo.getId() + '?boardID=' + boardInfo.getId()}">수정</a>
                                        <button class="dropdown-item"
                                                th:boardID="${boardInfo.getId()}"
                                                th:postID="${postInfo.getId()}"
                                                th:onclick="onClickDeletePost(this.getAttribute('boardID'),
                                                this.getAttribute('postID'))">삭제</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </th:block>
                </div>
                <!--게시글 출력 영역-->
                <div class="post-content-area mb-4" style="min-height: 500px; background-color: white;">
                    <div th:utext="${postInfo.getContent()}"></div>
                    <!--<p th:utext="${postInfo.getContent()}"></p>-->
                </div>
                <!--추천/비추천 버튼 영역-->
                <div class="mb-4 d-flex flex-row justify-content-center">
                    <form>
                        <span class="me-1" th:text="${likesCount}"></span>
                        <input type="button" class="btn btn-outline-primary" value="추천"
                                th:onclick="onClickLike([[${postInfo.getId()}]], [[${userInfo != null ? userInfo.getUserId() : null}]])">
                        <span class="ms-1 me-1" th:text="${dislikesCount}"></span>
                        <input type="button" class="btn btn-outline-danger" value="비추천"
                                th:onclick="onClickDislike([[${postInfo.getId()}]], [[${userInfo != null ? userInfo.getUserId() : null}]])">
                    </form>
                </div>
                <hr/>
                <!--댓글 타이틀 영역-->
                <div class="d-flex flex-row" id="commentTitleDiv">
                    <img src="/img/chat.png" style="width: 30px; height: 30px;"/>
                    <h3 class="ms-2">
                        <span th:text="${commentCount}"></span>
                        <span> 개의 댓글</span>
                    </h3>
                </div>
                <!--댓글 내용 영역-->
                <div class="d-flex flex-column">
                    <th:block th:each="comment : ${orderedCommentList}">
                        <!--댓글 작성자, 추천/비추천, 작성일, 대댓글 입력 form 표시-->
                        <div class="d-flex flex-row" style="min-height: 30px; background-color:#c1c7c7; border-radius: 5px / 5px;">
                            <span class="ms-2" th:text="${comment.getCommentData().getWriterId()}"></span>
                            <span class="ms-auto">작성일: </span>
                            <span class="ms-2 me-2" th:text="${#dates.format(comment.getCommentData().getCreatedDay(),'yyyy-MM-dd')}"></span>
                            <!--대댓글 작성 버튼-->
                            <th:block th:if="${userInfo != null}">
                                <button class="btn btn-secondary btn-sm" id="showReplyFormBtn"
                                        th:commentID="${comment.getCommentData().getId()}"
                                        th:onclick="onClickShowReplyForm(this.getAttribute('commentID'))"
                                        th:text="댓글..">
                                </button>
                            </th:block>

                        </div>
                        <!--댓글 본문 내용-->
                        <div class="ms-2" th:id="${comment.getCommentData().getId()}">
                            <span style="white-space: pre-line" th:text="${comment.getCommentData().getContent()}"></span>
                        </div>
                        <div style="height: 20px;"></div>
                        <!--대댓글 영역-->
                        <th:block th:each="subComment : ${comment.getCommentData().getChildComments()}">
                            <div class="ms-4">
                                <!--대댓글 작성자 표시-->
                                <div class="d-flex flex-row" style="min-height: 30px; background-color:#c1c7c7; border-radius: 5px / 5px;">
                                    <span class="ms-2" th:text="${subComment.getWriterId()}"></span>
                                    <span class="ms-auto">작성일: </span>
                                    <span class="ms-2 me-2" th:text="${#dates.format(subComment.getCreatedDay(),'yyyy-MM-dd')}"></span>
                                </div>
                                <!--대댓글 본문 내용-->
                                <div class="ms-2" th:id="${subComment.getId()}">
                                    <span style="white-space: pre-line" th:text="${subComment.getContent()}"></span>
                                </div>
                            </div>
                            <div style="height: 20px;"></div>
                        </th:block>
                        <!--대댓글 작성 Form-->
                        <th:block th:if="${userInfo != null}">
                            <form class="ms-4" onsubmit="return false;" style="display:none;"
                              th:id="'subReplyForm_' + ${comment.getCommentData().getId()}">
                            <div class="d-flex flex-column">
                                <input type="hidden" name="postWriterID" th:value="${postInfo.getWriterId()}">
                                <input type="hidden" name="postID" th:value="${postInfo.getId()}">
                                <input type="hidden" name="parentCommentID" th:value="${comment.getCommentData().getId()}">
                                <input type="hidden" name="writerID" th:value="${userInfo.getUserId()}">
                                <input type="hidden" name="writerNickname" th:value="${userInfo.getNickname()}">
                                <textarea name="content" class="form-control" style="min-height:80px;"></textarea>
                                <div class="my-2 d-flex flex-row-reverse">
                                    <input type="button" class="btn btn-info" value="등록"
                                        th:rootCommentID="${comment.getCommentData().getId()}"
                                        th:onclick="onSubmitComment(this.getAttribute('rootCommentID'), true)">
                                </div>
                            </div>
                        </form>
                        </th:block>
                    </th:block>
                </div>
                <!--댓글 리스트 / 하단 페이지 제어 구분선-->
                <hr/>
                <!--하단 페이지 제어 버튼-->
                <div class="d-flex justify-content-center mt-auto">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <!--이전 페이지로 이동 버튼, 현재 페이지가 1이 아닌 경우에만 표시-->
                            <th:block th:unless="${curPageNo == 1}">
                                <li class="page-item">
                                    <a class="page-link" th:href="'/post/' + ${postInfo.getId()} + '?&pageNumber=' + ${curPageNo - 1}">
                                        <span><</span>
                                    </a>
                                </li>
                            </th:block>
                            <!--페이지 번호 버튼-->
                            <th:block th:each="pageNo : ${#numbers.sequence(startPageNoInCurSession, endPageNoInCurSession)}">
                                <th:block th:if="${pageNo == curPageNo}">
                                    <li class="page-item active">
                                        <a class="page-link" th:href="'/post/' + ${postInfo.getId()} + '?&pageNumber=' + ${pageNo}">
                                            <span th:text="${pageNo}"></span>
                                        </a>
                                    </li>
                                </th:block>
                                <th:block th:unless="${pageNo == curPageNo}">
                                    <li class="page-item">
                                        <a class="page-link" th:href="'/post/' + ${postInfo.getId()} + '?&pageNumber=' + ${pageNo}">
                                            <span th:text="${pageNo}"></span>
                                        </a>
                                    </li>
                                </th:block>
                            </th:block>
                            <!--다음 페이지로 이동 버튼, 현재 페이지번호가 페이지 개수 와 같지 않은 경우에만 표시-->
                            <th:block th:unless="${curPageNo == pageCount}">
                                <li class="page-item">
                                    <a class="page-link" th:href="'/post/' + ${postInfo.getId()} + '?&pageNumber=' + ${curPageNo + 1}">
                                        <span>></span>
                                    </a>
                                </li>
                            </th:block>
                        </ul>
                    </nav>
                </div>
                <!--하단 댓글 입력 form-->
                <th:block th:if="${userInfo != null}">
                    <form id="subReplyForm">
                        <div class="d-flex flex-column">
                            <input type="hidden" name="postWriterID" th:value="${postInfo.getWriterId()}">
                            <input type="hidden" name="postID" th:value="${postInfo.getId()}">
                            <input type="hidden" name="writerID" th:value="${userInfo.getUserId()}">
                            <input type="hidden" name="writerNickname" th:value="${userInfo.getNickname()}">
                            <textarea name="content" class="form-control" style="min-height:80px;"></textarea>
                            <div class="my-2 d-flex flex-row-reverse">
                                <input type="button" class="btn btn-info" value="등록"
                                    th:onclick="onSubmitComment(0, false)">
                            </div>
                        </div>
                    </form>
                </th:block>
            </div>
        </div>
        <script th:inline="javascript">
            <!--focus Comment 존재하면 해당 댓글 html 태그 찾아서 스크롤-->
            var focusCommentExist = [[${focustCommentId != null}]];
            if(focusCommentExist){
                var focusCommentId = [[${focustCommentId}]];
                document.getElementById(focusCommentId).scrollIntoView();
            }
        </script>
    </th:block>
</html>