<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="myinfo_notification">
    <h2>내 정보</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="text-center" scope="col">보낸사람</th>
            <th class="text-center" scope="col">내용</th>
            <th class="text-center" scope="col">읽음</th>
            <th class="text-center" scope="col">날짜</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</th:block>
</html>