.table_row_title > a {
    white-space: nowrap;
    text-decoration: none;
}

.table_row_title > a > span.title_span{

    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}
@media (min-width: 580px) {
    .table_column_title{
        width: 50%;
    }
    .table_column_writer{
        width: 10%;
    }
    .table_column_good{
        width: 20%;
        text-align: center;
    }
    .table_column_date{
        width: 20%;
    }
}
@media (max-width: 581px) {
    .table_column_title{
        width: 30%;
    }
    .table_column_writer{
        width: 30%;
    }
    .table_column_good{
        width: 20%;
    }
    .table_column_date{
        width: 30%;
    }
}
