.board_link{
    text-decoration: none;
    color: #999999;
}

.footer_explain{
    color: #999999;
    font-size: 14px;
}

a .footer_explain{
    color: #999999;
    font-size: 14px;
    text-decoration: none;
}

.link_button{
    border: none;
}