<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>날짜</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>게시판 테스트 12323</td>
                    <td>이태준</td>
                    <td>2022-05-16</td>
                    <td>111</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>게시판 테스트 12323</td>
                    <td>이태준</td>
                    <td>2022-05-16</td>
                    <td>111</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>게시판 테스트 12323</td>
                    <td>이태준</td>
                    <td>2022-05-16</td>
                    <td>111</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>게시판 테스트 12323</td>
                    <td>이태준</td>
                    <td>2022-05-16</td>
                    <td>111</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>게시판 테스트 12323</td>
                    <td>이태준</td>
                    <td>2022-05-16</td>
                    <td>111</td>
                </tr>
            </tbody>
        </table>
        <hr/>
        <div class="justify-content-md-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <script src="/js/bootstrap.bundle.js"></script>
</body>
</html>