.table_row_title > a {
    text-decoration: none;
}

.table_row_title > a > span.title_span{
    color: black;
}
@media (min-width: 550px) {
    .table_column_no{
        width: 10%;
    }
    .table_column_title{
        width: 70%;
    }
    .table_column_date{
        width: 20%;
    }
}
@media (max-width: 551px) {
    .table_column_no{
        width: 10%;
    }
    .table_column_title{
        width: 70%;
    }
    .table_column_date{
        width: 20%;
    }
}
