<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="myinfo_notification">
    <script src="/js/myinfo/notification.js"></script>
    <h2>내 알림목록</h2>
    <hr>
    <p style="color:red;">*주의* 오래된 알림내역은 삭제됩니다.</p>
    <!--알림 데이터 메인 테이블-->
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="text-center" scope="col">보낸사람</th>
            <th class="text-center" scope="col">내용</th>
            <th class="text-center" scope="col">읽음</th>
            <th class="text-center" scope="col">날짜</th>
        </tr>
        </thead>
        <tbody>
            <th:block th:each="notification : ${notifications}">
                <tr>
                    <td>
                        <span th:text="${notification.getSenderNickname()}"></span>
                    </td>
                    <td>
                        <a href="#" th:onclick="readNotification([[${notification.getId()}]])">
                            <span th:text="${notification.getContent()}"></span>
                        </a>
                    </td>
                    <td>
                        <th:block th:if="${notification.isRead() == true}">
                            <span th:text="읽음"></span>
                        </th:block>
                        <th:block th:unless="${notification.isRead() == true}">
                            <span th:text="안읽음"></span>
                        </th:block>
                    </td>
                    <td>
                        <span th:text="${#dates.format(notification.getCreatedDay(),'yyyy-MM-dd')}"></span>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>

    <!--알림 데이터 메인 테이블 / 하단 페이지 제어 및 버튼 구분선-->
    <hr/>
    <!--하단 페이지 제어 버튼-->
    <div class="container" style="max-width:400px;">
        <div class="row">
            <div class="col">
                <div class="d-flex flex-row-reverse">
                    <!--이전 페이지로 이동 버튼, 현재 페이지가 1이 아닌 경우에만 표시-->
                    <th:block th:unless="${curPageNo == 1}">
                        <a role="button" class="btn btn-info" th:href="'/mypage/notification?pageNumber=' + ${curPageNo - 1}">
                            <span>이전 페이지</span>
                        </a>
                    </th:block>
                </div>
            </div>
            <div class="col" style="max-width:25px;">
                <div class="d-flex justify-content-center">
                    <!--현재 페이지 표시-->
                    <a role="button" class="btn btn-dark">
                        <span th:text="${curPageNo}"></span>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-row">
                    <!--다음 페이지로 이동 버튼, 현재 페이지번호가 페이지 개수 와 같지 않은 경우에만 표시-->
                    <th:block th:unless="${curPageNo == pageCount}">
                        <a role="button" class="btn btn-info" th:href="'/mypage/notification?pageNumber=' + ${curPageNo + 1}">
                            <span>다음 페이지</span>
                        </a>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>