<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="mypage_myinfo">
        <!--특정 유저정보 조회-->
        <th:block th:if="${targetUserInfo != null}">
            <h2>유저 정보</h2>
        </th:block>
        <!--내정보(현재 로그인된 유저) 조회-->
        <th:block th:unless="${targetUserInfo != null}">
            <h2>내 정보</h2>
        </th:block>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">구분</th>
                    <th scope="col">내용</th>
                </tr>
            </thead>
            <tbody>
                <!--특정 유저정보 조회-->
                <th:block th:if="${targetUserInfo != null}">
                    <!--닉네임-->
                    <tr>
                        <th scope="row">닉네임</th>
                        <th><span th:text="${targetUserInfo.getNickname()}"></span></th>
                    </tr>
                    <!--가입일-->
                    <tr>
                        <th scope="row">가입일</th>
                        <th><span th:text="${targetUserInfo.getRegisterDay()}"></span></th>
                    </tr>
                </th:block>
                <!--현재 로그인된 유저정보 조회-->
                <th:block th:unless="${targetUserInfo != null}">
                    <!--아이디-->
                    <tr>
                        <th scope="row">아이디</th>
                        <th><span th:text="${userInfo.getUserId()}"></span></th>
                    </tr>
                    <!--닉네임-->
                    <tr>
                        <th scope="row">닉네임</th>
                        <th><span th:text="${userInfo.getNickname()}"></span></th>
                    </tr>
                    <!--이메일-->
                    <tr>
                        <th scope="row">이메일</th>
                        <th><span th:text="${userInfo.getEmail()}"></span></th>
                    </tr>
                    <!--가입일-->
                    <tr>
                        <th scope="row">가입일</th>
                        <th><span th:text="${userInfo.getRegisterDay()}"></span></th>
                    </tr>
                    <!--최근 로그인-->
                    <tr>
                        <th scope="row">최근 로그인</th>
                        <th><span th:text="${userInfo.getLoginDay()}"></span></th>
                    </tr>
                </th:block>
            </tbody>
        </table>
        <!--현재 로그인된 유저 정보조회시에만 표시-->
        <th:block th:if="${targetUserInfo == null}">
            <div class="d-flex flex-row">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-outline-dark">로그아웃</button>
                </form>
                <button class="btn btn-outline-dark" onclick="location.href = '/changepassword'">비밀번호 변경</button>
                <button class="btn btn-outline-danger ms-auto">회원탈퇴</button>
            </div>
        </th:block>
    </th:block>
</html>