<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <div th:fragment="footer">
        <link rel="stylesheet" href="/css/footer.css">
        <div class="mx-auto container-lg bg-transparent">
            <hr/>
            <div style="height: 30px;"></div>
            <!--게시판 바로가기-->
            <div class="d-flex flex-row" style="max-width:450px;">
                <!--베스트 게시판(고정)-->
                <a class="board_link me-3" th:href="'/board/best'">
                    <span th:text="베스트"></span>
                </a>
                <!--DB에 저장된 게시판 리스트 출력-->
                <th:block th:each="rootBoard : ${rootBoards}">
                    <!--자식 게시판이 있는 Root 게시판은 접근할 수 없다.-->
                    <!--자식 게시판이 없는 Root 게시판의 경우 Dropdown 없이 클릭하면 바로 이동-->
                    <th:block th:if="${rootBoard.getChildBoards().stream().count() == 0}">
                        <a class="board_link me-3" th:href="'/board/' + ${rootBoard.getId()}">
                            <span th:text="${rootBoard.getName()}"></span>
                        </a>
                    </th:block>
                    <!--자식 게시판이 있는 경우 Dropdown 메뉴로 표시-->
                    <th:block th:unless="${rootBoard.getChildBoards().stream().count() == 0}">
                        <div class="dropdown">
                            <a class="board_link me-3 dropdown-toggle" role="button" id="boardDropdownLink"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <span th:text="${rootBoard.getName()}"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="boardDropdownLink" style="min-width: inherit;">
                                <th:block th:each="childBoard : ${rootBoard.getChildBoards()}">
                                    <li>
                                        <a class="dropdown-item" th:href="'/board/' + ${childBoard.getId()}">
                                            <span th:text="${childBoard.getName()}"></span>
                                        </a>
                                    </li>
                                </th:block>
                            </ul>
                        </div>
                    </th:block>
                </th:block>
            </div>
            <!--사용 Resource 저작권 및 Github 주소, 개발자 연락처 등 페이지 관련정보-->
            <div style="height: 15px;"></div>
            <p class="footer_explain_test">
                이미지 Resource 출처 : https://www.flaticon.com/kr/authors/dave-gandy<br>
                <br>
                Copyrightⓒ. 이태준 All Rights Reserved
            </p>
            <!--Github 링크, 연락처-->
            <div class="d-flex flex-row align-items-center">
                <a href="https://github.com/CBorange">
                    <img src="/img/github-logo.png" style="width: 50px; height :50px;">
                </a>
                <div class="ms-2" style="height: 50px; width: 0.1px; border: 1px solid #999999"></div>
                <span class="ms-2" style="color: #999999">Contact : ltjbs2020@gmail.com</span>
            </div>
            <div style="height: 15px;"></div>
        </div>
    </div>
</html>
