<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head th:fragment="head">
        <meta name="viewport" charset="UTF-8" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0">
        <title>MyBoard Service</title>
        <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
        <script src="/js/bootstrap/bootstrap.bundle.js"></script>

        <meta name="_csrf" th:content="${_csrf.token}">
        <meta name="_csrf_header" th:content="${_csrf.headerName}">

        <script src="/js/globalvari.js"></script>
        <script>
            <!--서버 접속환경에 따라 서버 접속 URL 변경-->
            console.log('[[${versionInfo.getServerConnectUrl()}]]');
            initVaris('[[${versionInfo.getServerConnectUrl()}]]');
        </script>
        <script src="/js/util.js"></script>
        <script src="/js/form-util.js"></script>
    </head>
</html>