<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<div th:fragment="sidebar">
    <link rel="stylesheet" href="/css/sidebar.css">
    <script src="/js/sidebar.js"></script>
    <!--화면을 덮는 Sidebar, 기존 영역보다 위에 출력된다.-->
    <div class="position-fixed top-0 start-0">
        <div class="collapse collapse-horizontal" id="collapseSidebar">
            <div class="d-flex flex-row vw-100">
                <!--Sidebar 영역-->
                <div class="vh-100 bg-secondary bg-gradient" style="width:300px">
                    <div class="d-flex flex-column">
                        <!--Section1 : 유저정보, 로그인/로그아웃 제어패널-->
                        <div style="min-height:75px;">
                            <!--로그인 정보 존재-->
                            <th:block th:if="${userInfo != null}">
                                <div class="bg-light" style="height: 75px; --bs-bg-opacity: .7; cursor: pointer;"
                                     th:onclick="location.href='/mypage/myinfo'">
                                    <!--유저정보 UI 배치-->
                                    <div class="d-flex flex-row align-items-center mx-3" style="height: 75px;">
                                        <!--유저 아이콘-->
                                        <img src="/img/user2.png" style="width: 50px; height: 50px;">
                                        <!--유저 정보-->
                                        <div class="d-flex flex-column ms-4" style="height: 50px;">
                                            <p class="my-auto">닉네임</p>
                                            <p class="my-auto">example@test.com</p>
                                        </div>
                                        <!--화살표 아이콘-->
                                        <img class="ms-auto" src="/img/right-chevron.png" style="width: 20px; height: 20px;">
                                    </div>
                                </div>
                            </th:block>
                            <!--로그인 되지 않음-->
                            <th:block th:unless="${userInfo != null}">
                                <div class="bg-light" style="height: 75px; --bs-bg-opacity: .7; cursor: pointer;"
                                     onclick="location.href='/login'">
                                    <!--로그인 안내 UI 배치-->
                                    <div class="d-flex flex-row align-items-center mx-3" style="height: 75px;">
                                        <!--물음표 아이콘-->
                                        <img src="/img/question-mark.png" style="width: 35px; height: 35px;">
                                        <!--로그인 안내-->
                                        <div class="d-flex flex-column ms-2" style="height: 50px;">
                                            <p class="my-auto">로그인</p>
                                            <p class="my-auto" style="font-size: 13px;">로그인 또는 회원가입 해주세요</p>
                                        </div>
                                        <!--화살표 아이콘-->
                                        <img class="ms-auto" src="/img/right-chevron.png" style="width: 20px; height: 20px;">
                                    </div>
                                </div>
                            </th:block>

                            <!--로그인 정보 존재할 경우에만 바로가기 패널 표시-->
                            <th:block th:if="${userInfo != null}">
                                <!--유저정보 바로가기 메뉴 패널-->
                                <div class="bg-light" style="height: 75px; --bs-bg-opacity: .5">
                                    <div class="d-flex flex-row justify-content-evenly align-items-center mx-1" style="height: 75px;">
                                        <!--유저 아이콘-->
                                        <div style="width:75px; text-align:center; cursor: pointer;"
                                            onclick="location.href='/mypage/myinfo'">
                                            <img src="/img/user2.png" style="width: 25px; height: 25px;">
                                            <p class="my-auto">회원정보</p>
                                        </div>
                                        <!--유저 아이콘-->
                                        <div style="width:75px; text-align:center; cursor: pointer;"
                                             onclick="location.href='/mypage/post'">
                                            <img src="/img/text-file.png" style="width: 25px; height: 25px;">
                                            <p class="my-auto">작성글</p>
                                        </div>
                                        <!--유저 아이콘-->
                                        <div style="width:75px; text-align:center; cursor: pointer;"
                                             onclick="onClickLogout()">
                                            <img src="/img/sign-out.png" style="width: 25px; height: 25px;">
                                            <p class="my-auto">로그아웃</p>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                        <!--Section2 : 베스트 게시판(고정)-->
                        <br>
                        <a class="navlinkitem mx-3" th:href="'/board/best'">
                            <span th:text="베스트"></span>
                        </a>
                        <!--Section2 : 게시판 리스트(DB 데이터)-->
                        <th:block th:each="rootBoard : ${rootBoards}">
                            <th:block th:if="${rootBoard.getChildBoards().stream().count() == 0}">
                                <a class="navlinkitem mx-3" th:href="'/board/' + ${rootBoard.getId()}">
                                    <span th:text="${rootBoard.getName()}"></span>
                                </a>
                            </th:block>
                            <th:block th:unless="${rootBoard.getChildBoards().stream().count() == 0}">
                                <div class="d-inline-flex dropdown">
                                    <a class="dropdown-toggle navlinkitem mx-3" href="#" id="dropdownMenuLink-0"
                                       data-bs-toggle="dropdown" aria-expanded="false">
                                        <span th:text="${rootBoard.getName()}"></span>
                                    </a>
                                    <ul class="dropdown-menu" aria-lebelledby="dropdownMenuLink-0">
                                        <th:block th:each="childBoard : ${rootBoard.getChildBoards()}">
                                            <li><a class="dropdown-item" th:href="'/board/' + ${childBoard.getId()}">
                                                <span th:text="${childBoard.getName()}"></span></a></li>
                                        </th:block>
                                    </ul>
                                </div>
                            </th:block>
                        </th:block>
                    </div>
                </div>
                <!--배경 영역 클릭하면 Sidebar collapse-->
                <div class="d-flex flex-fill vh-100 bg-dark" id="sidebarBG" style="--bs-bg-opacity: .2;">
                    <button class="flex-fill bg-transparent border-0" data-bs-toggle="collapse" data-bs-target="#collapseSidebar"></button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>