<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <div th:fragment="topnav">
        <link rel="stylesheet" href="/css/topnav.css">
        <!--상단 Header-->
        <div class="bg-secondary bg-gradient">
            <div class="mx-auto container-lg bg-transparent">
                <div class="d-flex flex-row justify-content-between align-items-center" style="height: 60px;">
                    <!--item1 : Collapse Button, Logo-->
                    <div class="d-flex flex-row align-items-center ms-2">
                        <!--Sidebar Collapse Button-->
                        <button class="sidemenu-btn me-2" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSidebar" aria-expanded="false" aria-controls="collapseSidebar">
                            <img src="/img/menu.png" style="width: 50px; height :50px;"/>
                        </button>
                        <a class="logo" href="/">ltj-MyBoard</a>
                    </div>
                    <!--item2 : Link List-->
                    <div class="link-list">
                        <div class="d-flex flex-row d-none d-lg-block">
                            <!--DB에 저장된 게시판 리스트 출력-->
                            <th:block th:each="rootBoard : ${rootBoards}">
                                <th:block th:if="${rootBoard.getChildBoards().stream().count() == 0}">
                                    <a class="navlinkitem mx-3" th:href="'/board/' + ${rootBoard.getId()}">
                                        <span th:text="${rootBoard.getName()}"></span>
                                    </a>
                                </th:block>
                                <th:block th:unless="${rootBoard.getChildBoards().stream().count() == 0}">
                                    <div class="d-inline-flex dropdown">
                                        <a class="dropdown-toggle navlinkitem mx-3" href="#" id="dropdownMenuLink-0"
                                           data-bs-toggle="dropdown" aria-expanded="false">
                                            <span th:text="${rootBoard.getName()}"></span>
                                        </a>
                                        <ul class="dropdown-menu" aria-lebelledby="dropdownMenuLink-0" style="min-width: inherit;">
                                            <th:block th:each="childBoard : ${rootBoard.getChildBoards()}">
                                                <li><a class="dropdown-item" th:href="'/board/' + ${childBoard.getId()}">
                                                    <span th:text="${childBoard.getName()}"></span></a>
                                                </li>
                                            </th:block>
                                        </ul>
                                    </div>
                                </th:block>
                            </th:block>
                        </div>
                    </div>
                    <!--item3 : 유저정보 버튼-->
                    <th:block th:if="${userInfo != null}">
                        <div class="d-flex flex-row">
                            <!--유저 알림-->
                            <div>
                                <a class="me-4" style="position: relative;" th:href="'/mypage/notification'">
                                    <th:block th:if="${userInfo.getNotificationCnt() > 0}">
                                        <span class="nav-counter" th:text="${userInfo.getNotificationCnt()}"></span>
                                    </th:block>
                                    <img src="/img/bell.png" style="width: 35px; height :35px;"/>
                                </a>
                                <!--내정보-->
                            </div>
                            <div class="userInfo-link">
                                <a class="me-2" style="position: relative;" th:href="'/mypage/myinfo'">
                                    <img src="/img/user.png" style="width: 35px; height :35px;"/>
                                    <span style="color: white;" th:text="${userInfo.getNickname()}"></span>
                                </a>
                            </div>
                        </div>
                    </th:block>
                    <th:block th:if="${userInfo == null}">
                        <a class="me-2" th:href="'/login'">
                            <button class="btn btn-light">로그인</button>
                        </a>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</html>