<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head th:fragment="head">
        <meta name="viewport" charset="UTF-8" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0">
        <title>MyBoard Service</title>
        <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
        <script src="/js/bootstrap/bootstrap.bundle.js"></script>

        <!--글로벌 JS-->
        <script src="/js/globalvari.js"></script>
        <script src="/js/util.js"></script>
    </head>
</html>