<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head th:fragment="head">
        <meta name="viewport" charset="UTF-8" content="width=360, user-scalable=no, initial-scale=1.0, minimum-scale=1.0">

        <title>MyBoard Service</title>
        <link rel="stylesheet" href="/css/topnav.css">
        <link rel="stylesheet" href="/css/sidebar.css">
        <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
        <script src="/js/bootstrap/bootstrap.bundle.js"></script>
    </head>
</html>