<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <div th:fragment="topnav">
        <!--상단 Header-->
        <div class="bg-secondary bg-gradient">
            <div class="mx-auto container-lg bg-transparent">
                <div class="d-flex flex-row justify-content-between align-items-center" style="height: 60px;">
                    <!--item1 : Collapse Button, Logo-->
                    <div class="d-flex flex-row ms-2">
                        <!--Sidebar Collapse Button-->
                        <button class="btn btn-primary me-2" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSidebar" aria-expanded="false" aria-controls="collapseSidebar">C</button>
                        <a class="navlinkitem" href="#">Logo</a>
                    </div>
                    <!--item2 : Link List-->
                    <div class="d-flex flex-row d-none d-lg-block">
                        <!--하위 게시판이 존재하지 않는 경우 : getChildBoardCount() 가 0 이다-->
                        <!--하위 게시판이 존재하는 경우 : getChildBoardCount() 가 0이 아니다-->
                        <th:block th:each="rootBoard : ${rootBoards}">
                            <th:block th:if="${rootBoard.getChildBoardCount().equals(0)}">
                                <a class="navlinkitem mx-3" th:href="${rootBoard.ConnectURL}">
                                    <span th:text="${rootBoard.BoardName}"></span>
                                </a>
                            </th:block>
                            <th:block th:unless="${rootBoard.getChildBoardCount().equals(0)}">
                                <div class="d-inline-flex dropdown">
                                    <a class="dropdown-toggle navlinkitem mx-3" href="#" id="dropdownMenuLink-0"
                                       data-bs-toggle="dropdown" aria-expanded="false">
                                        <span th:text="${rootBoard.BoardName}"></span>
                                    </a>
                                    <ul class="dropdown-menu" aria-lebelledby="dropdownMenuLink-0">
                                        <th:block th:each="childBoard : ${rootBoard.getChildBoardSet()}">
                                            <li><a class="dropdown-item" th:href="${childBoard.ConnectURL}"><span th:text="${childBoard.BoardName}"></span></a></li>
                                        </th:block>
                                    </ul>
                                </div>
                            </th:block>
                        </th:block>
                    </div>
                    <!--item3 : End-->
                    <a class="me-2 navlinkitem">End</a>
                </div>
            </div>
        </div>
    </div>
</html>