<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <div th:fragment="topnav">
        <!--상단 Header-->
        <div class="bg-secondary bg-gradient">
            <div class="mx-auto container-lg bg-transparent">
                <div class="d-flex flex-row justify-content-between">
                    <!--item1 : Collapse Button, Logo-->
                    <div class="d-flex flex-row ms-2">
                        <button class="btn btn-primary me-2" type="button" data-bs-toggle="collapse"
                                data-bs-target="#colllapseHeader" aria-expanded="false" aria-controls="colllapseHeader">C</button>
                        <a class="navlinkitem" href="#">Logo</a>
                    </div>
                    <!--item2 : Link List-->
                    <div class="d-flex flex-row d-none d-lg-block">
                        <a class="navlinkitem mx-3" href="#">베스트</a>
                        <a class="navlinkitem mx-3" href="#">자유게시판</a>
                        <a class="navlinkitem mx-3" href="#">커뮤니티</a>
                        <a class="navlinkitem mx-3" href="#">건의사항</a>
                        <a class="navlinkitem mx-3" href="#">기타</a>
                    </div>
                    <!--item3 : End-->
                    <a class="me-2 navlinkitem">End</a>
                </div>
            </div>
        </div>
    </div>
</html>