<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="changeUserinfo">
    <div class="mx-auto container-lg top-div">
        <!--여백-->
        <div style="height:35px;"></div>
        <h1>유저정보 수정</h1>
        <br/>
        <form onsubmit="return false" id="changeUserInfoForm" novalidate>
            <div class="d-flex flex-column">
                <!--아이디-->
                <label class="form-label" for="userIdInput">아이디</label>
                <input class="form-control is-valid" type="text" name="username" style="width:300px;" th:value="${userInfo.getUserId()}"
                       placeholder="아이디"
                       id="userIdInput" readonly/>
                <!--닉네임-->
                <br/>
                <div>
                    <label class="form-label" for="nickname">닉네임</label>
                    <input class="form-control" type="text" name="nickname" style="width:300px;" th:value="${userInfo.getNickname()}"
                           id="nickname" placeholder="닉네임"/>
                    <div class="valid-feedback">
                        유효한 닉네임 입니다.
                    </div>
                    <div class="invalid-feedback">
                        2~12자 이내의 문자열 이여야 합니다.<br/>
                        영문 또는 숫자 또는 한글을 사용할 수 있습니다.
                    </div>
                </div>
                <!--이메일-->
                <br/>
                <div>
                    <label class="form-label" for="userEmailInput">이메일</label>
                    <input class="form-control" type="text" name="email" style="width:300px;" th:value="${userInfo.getEmail()}"
                           id="userEmailInput" placeholder="이메일"/>
                    <div class="valid-feedback">
                        유효한 이메일 입니다.
                    </div>
                    <div class="invalid-feedback">
                        유효하지 않은 이메일 형식입니다.
                    </div>
                </div>
                <br/>
                <!--현재 비밀번호-->
                <div>
                    <label class="form-label" for="curPassword" style="display:block;">현재 비밀번호</label>
                    <input class="form-control" type="password" name="cur_password" style="width:300px; display:inline;"
                           placeholder="현재 비밀번호" id="curPassword" required/>
                    <img id="curPasswordEye" src="/img/eye-x.png" style="width:25px; height:25px;" onclick="onClickPasswordEye('#curPassword', '#curPasswordEye')"/>
                </div>
            </div>
            <br/>
            <button class="btn btn-info" type="button" onclick="onSubmitChange()">
                수정사항 적용
            </button>
        </form>
        <br/>

        <div id="resultArea" style="visibility: hidden;">
            <p id="resultMsg">유저정보 수정 성공</p>
        </div>
        <div id="goToLoginBtn" style="visibility: hidden;">
            <a class="btn btn-secondary" role="button" th:href="'/login'">로그인</a>
        </div>

    </div>
    <script src="/js/change-userinfo.js"></script>
</th:block>
</html>