<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="home">
        <link rel="stylesheet" href="/css/home.css">
        <div class="mx-auto container-lg">
            <!--상단 여백-->
            <div style="height:50px;"></div>
            <!-- 게시판 표기 -->
            <div class="container">
                <!--한 줄에 한개씩만 표출되어야 하는 게시판(베스트, 공지사항 등 특수 게시판)-->
                <th:block th:each="leafBoard : ${singleColumnBoards}">
                    <div class="row">
                        <div class="col-sm board-col">
                            <!--게시판 명-->
                            <a class="board-title" th:href="'/board/' + ${leafBoard.getId()}">
                                <span th:text="${leafBoard.getName()}"></span>
                            </a>
                            <hr/>
                            <!--게시글 목록-->
                            <div class="d-flex flex-column">
                                <th:block th:with="filteredPosts=${postMap[leafBoard.getId()]}">
                                    <th:block th:each="filteredPost : ${filteredPosts}">
                                        <a class="post-title" th:href="'/post/' + ${filteredPost.getPostData().getId()}">
                                            <span th:text="${filteredPost.getPostData().getTitle()}"></span>
                                            <th:block th:if="${filteredPost.getCommentCount() > 0}">
                                                <span class="ms-1" th:text="'(' + ${filteredPost.getCommentCount()} + ')'"></span>
                                            </th:block>
                                        </a>
                                    </th:block>
                                </th:block>
                            </div>
                        </div>
                    </div>
                    <br/>
                </th:block>
                <!--한 줄에 두개씩 표출되어야 하는 게시판(일반 게시판)-->
                <th:block th:each="doubleColumnList : ${doubleColumnBoards}">
                    <div class="row">
                        <th:block th:each="leafBoard : ${doubleColumnList}">
                            <div class="col-sm board-col">
                                <!--게시판 명-->
                                <a class="board-title" th:href="'/board/' + ${leafBoard.getId()}">
                                    <span th:text="${leafBoard.getName()}"></span>
                                </a>
                                <hr/>
                                <!--게시글 목록-->
                                <div class="d-flex flex-column">
                                    <th:block th:with="filteredPosts=${postMap[leafBoard.getId()]}">
                                        <th:block th:each="filteredPost : ${filteredPosts}">
                                            <a class="post-title" th:href="'/post/' + ${filteredPost.getPostData().getId()}">
                                                <span th:text="${filteredPost.getPostData().getTitle()}"></span>
                                                <th:block th:if="${filteredPost.getCommentCount() > 0}">
                                                    <span class="ms-1" th:text="'(' + ${filteredPost.getCommentCount()} + ')'"></span>
                                                </th:block>
                                            </a>
                                        </th:block>
                                    </th:block>
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <br/>
                </th:block>
            </div>
        </div>

    </th:block>
</html>